.v-sheet.v-app-bar.v-toolbar:not(.v-sheet--outlined) {
  box-shadow: none !important;
  border: none !important;
}
.v-item-group.v-bottom-navigation {
  position: fixed;
}

.pink {
  background-color: #e91e63 !important;
  color: white !important;
}
